# Create dataset

## Download Global Streetscapes Metadata from [NUS-UAL/global-streetscapes](https://huggingface.co/datasets/NUS-UAL/global-streetscapes/tree/main/data)

In [1]:
from huggingface_hub import hf_hub_download
import pandas as pd

The following files where chosen since they were considered as quite useful (really subjective though).

In [ ]:
# Define dataset ID and target filenames
dataset_id = "NUS-UAL/global-streetscapes"
files = [
    "metadata_common_attributes.csv",
    "metadata_mly1.csv",
    "metadata_mly2.csv",
    "osm.csv",
    "perception.csv",
    "places365.csv",
    "season.csv",
    "simplemaps.csv",
    "contextual.csv",
]

# Download each file from the "data/" folder in the dataset repo
local_paths = []
for fname in files:
    path = hf_hub_download(
        repo_id=dataset_id,
        repo_type="dataset",
        filename=f"data/{fname}",
        local_dir="data/",
        local_dir_use_symlinks=False,
    )
    local_paths.append(path)
    print(f"Downloaded {fname} -> {path}")

# Optional: load one of the CSVs into pandas
import pandas as pd

df = pd.read_csv(local_paths[0])
df.head()

## Combine metadata in one file

In [ ]:
# Base CSV: Filter by source = 'Mapillary'
metadata_common = pd.read_csv("data/metadata_common_attributes.csv", usecols=['uuid', 'lat', 'lon', 'heading', 'orig_id', 'source'])
metadata_common = metadata_common[metadata_common['source'] == 'Mapillary']

# Function to safely merge another CSV by uuid
def merge_csv(df_base, file_path, usecols):
    df_add = pd.read_csv(file_path, usecols=usecols)
    return df_base.merge(df_add, on='uuid', how='left')

# Sequentially merge all additional files
metadata_common = merge_csv(metadata_common, "data/metadata_mly1.csv", ['uuid', 'mly_quality_score'])
metadata_common = merge_csv(metadata_common, "data/metadata_mly2.csv", ['uuid', 'mly_computed_compass_angle'])
metadata_common = merge_csv(metadata_common, "data/osm.csv", ['uuid', 'type_highway'])
metadata_common = merge_csv(metadata_common, "data/perception.csv", None)  # None = all columns
metadata_common = merge_csv(metadata_common, "data/places365.csv", ['uuid', 'place'])
metadata_common = merge_csv(metadata_common, "data/season.csv", ['uuid', 'season'])
metadata_common = merge_csv(metadata_common, "data/simplemaps.csv", ['uuid', 'city_ascii', 'city_id', 'iso3', 'admin_name'])
metadata_common = merge_csv(metadata_common, "data/contextual.csv", ['uuid', 'platform', 'view_direction', 'quality'])

# Save final result
metadata_common.to_csv("data/joined_metadata.csv", index=False)

print("Final dataset shape:", metadata_common.shape)
print(metadata_common.head())

## Build gpd-Dataframe

In [ ]:
# Read file
data = pd.read_csv("data/joined_metadata.csv")
print(data.head())

In [ ]:
# Create gdf
gdf = gpd.GeoDataFrame(
    data, geometry=gpd.points_from_xy(data.lon, data.lat), crs="EPSG:4326"
)

## Connect to PostgreSQL

In [4]:
from getpass import getpass
from urllib.parse import quote_plus
# Database connection info
# Change credentials if necessary

host = "localhost"
database = "gis"
user = "moritz"
port = "25432"
password = getpass("Enter your password: ")

# URL-encode the password to handle special characters
encoded_password = quote_plus(password)

# Add the port in the connection string
connection_string = f"postgresql://{user}:{encoded_password}@{host}:{port}/{database}"

from sqlalchemy import create_engine

engine = create_engine(connection_string)

# If you want to use %sql magic in Jupyter
%reload_ext sql
%sql $connection_string
%config SqlMagic.style = 'DEFAULT'

Enter your password:  ········

In [ ]:
# Create table
gdf.to_postgis('global_streetscapes', engine, if_exists='replace', index=False)

In [ ]:
# Create spatial index
%%sql
DROP INDEX IF EXISTS idx_global_streetscapes_spgist_geometry;
CREATE INDEX idx_global_streetscapes_spgist_geometry ON global_streetscapes USING SPGIST (geometry)

In [ ]:
# Test if it worked
%%sql
SELECT * FROM global_streetscapes LIMIT 1;

# Create table 'berlin'

In [ ]:
%%sql
DROP TABLE iF EXISTS berlin;
CREATE TABLE berlin AS
SELECT *
FROM global_streetscapes
WHERE city_ascii = 'Berlin'
AND mly_quality_score >= 0.95
AND ABS(heading - mly_computed_compass_angle) <= 10;

In [ ]:
# UTM for meters
%%sql
ALTER TABLE berlin ADD COLUMN geometry_32633 geometry(Geometry, 32633);
UPDATE berlin
SET geometry_32633 = ST_Transform(geometry, 32633);

In [ ]:
# Create spatial index
%%sql
CREATE INDEX idx_berlin_spgist_geometry_32633 ON berlin USING SPGIST (geometry_32633);

In [ ]:
# Test if it worked
%%sql
SELECT * FROM berlin LIMIT 1;

## 'berlin' needs to be modified 

The lat & long columns are unprecise, as a result we also add the computed lat & long from mapillary.

In [ ]:
# Add to new columns
%%sql
ALTER TABLE berlin
ADD COLUMN comp_lat double precision,
ADD COLUMN comp_lon double precision

In [17]:
import os
import requests
from sqlalchemy import text
from tqdm import tqdm

## Set mapillary token

In [ ]:
os.environ["MAPILLARY_TOKEN"] = "<YOUR_API_KEY>"
token = os.environ["MAPILLARY_TOKEN"]

def fetch_metadata(img_id: str, token: str) -> tuple[float, float] | None:
    """
    Return (lon, lat) from Mapillary’s computed_geometry or None if missing.
    """
    url = (
        f"https://graph.mapillary.com/{img_id}"
        f"?access_token={token}"
        "&fields=id,computed_geometry"
    )
    r = requests.get(url, timeout=10)
    r.raise_for_status()
    coords = r.json().get("computed_geometry", {}).get("coordinates")
    if coords and len(coords) == 2:
        lon, lat = coords      # Mapillary returns [lon, lat]
        return lon, lat
    return None

## Collect the IDs that need updating

In [ ]:
with engine.connect() as conn:
    ids_to_update = conn.execute(text("""
        SELECT orig_id_x
        FROM berlin
        WHERE comp_lat IS NULL
           OR comp_lon IS NULL;
    """)).scalars().all()

print(f"Found {len(ids_to_update)} images that need coordinates.")

## Call mapillary & build a VALUES list for bulk update

In [ ]:
values = []
for img_id in tqdm(ids_to_update, desc="Fetching Mapillary metadata"):
    coords = None
    try:
        coords = fetch_metadata(img_id, token)
    except Exception as e:
        print(f"{img_id}: {e}")

    if coords:
        lon, lat = coords
        values.append((img_id, lon, lat))

print(f"Prepared {len(values)} rows for UPDATE.")

## One bulk UPDATE back into PostGIS

In [ ]:
if values:
    values_clause = ",\n".join(
        f"({img_id}, {lon}, {lat})"
        for img_id, lon, lat in values
    )

    sql = f"""
        UPDATE berlin AS b
           SET comp_lon = v.lon,
               comp_lat = v.lat
          FROM (VALUES
                {values_clause}
          ) AS v(orig_id_x, lon, lat)
         WHERE b.orig_id_x = v.orig_id_x;
    """

    with engine.begin() as conn:
        conn.execute(text(sql))

    print("PostGIS table updated.")

else:
    print("Nothing to update – all rows already have comp_lat/comp_lon.")

## Create the new geom column

In [ ]:
%%sql
ALTER TABLE berlin ADD COLUMN geom_comp geometry(Point, 4326)

In [ ]:
%%sql
UPDATE berlin SET geom_comp = ST_SetSRID(ST_MakePoint(comp_lon, comp_lat), 4326)

In [ ]:
%%sql
ALTER TABLE berlin ADD COLUMN geometry_comp_32633 geometry(Geometry, 32633);
UPDATE berlin
SET geometry_comp_32633 = ST_Transform(geom_comp, 32633)

# Create table 'paris'

In [7]:
%%sql
DROP TABLE iF EXISTS paris;
CREATE TABLE paris AS
SELECT *
FROM global_streetscapes
WHERE city_ascii = 'Paris'
AND mly_quality_score >= 0.95
AND ABS(heading - mly_computed_compass_angle) <= 10;

 * postgresql://moritz:***@localhost:25432/gis
Done.
1262 rows affected.

[]

In [13]:
%%sql
ALTER TABLE paris ADD COLUMN geometry_32631 geometry(Geometry, 32631);

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [14]:
%%sql
UPDATE paris
SET geometry_32631 = ST_Transform(geometry, 32631);

 * postgresql://moritz:***@localhost:25432/gis
1262 rows affected.

[]

In [15]:
%%sql
CREATE INDEX idx_paris_spgist_geometry_32633 ON paris USING SPGIST (geometry_32631);

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [16]:
%%sql
SELECT * FROM paris LIMIT 1;

 * postgresql://moritz:***@localhost:25432/gis
1 rows affected.

[('33ec6f3a-51cc-4c06-954b-222458e1e2b5', 'Mapillary', 386699705852662, 48.85827053088323, 2.353225350379944, 203.57934570312, 1.0, 208.26795955773, 'walk', 'Mapillary', 386699705852662.0, 8.04, 2.81, 4.11, 9.39, 3.24, 8.99, 'street', 'Summer', 'Paris', 1250015082, 'FRA', 'Île-de-France', 'walking surface', 'good', 'front/back', '0101000020E6100000000000D067D30240CCA10ACFDB6D4840', '0101000020777F000025C4454A3D9F1B4166FB168F0FA55441')]

In [19]:
%%sql
ALTER TABLE paris
ADD COLUMN comp_lat double precision,
ADD COLUMN comp_lon double precision

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [20]:
os.environ["MAPILLARY_TOKEN"] = "MLY|9589650211070406|360124f70ee4d3f32da7987da0ae45b0"
token = os.environ["MAPILLARY_TOKEN"]

def fetch_metadata(img_id: str, token: str) -> tuple[float, float] | None:
    """
    Return (lon, lat) from Mapillary’s computed_geometry or None if missing.
    """
    url = (
        f"https://graph.mapillary.com/{img_id}"
        f"?access_token={token}"
        "&fields=id,computed_geometry"
    )
    r = requests.get(url, timeout=10)
    r.raise_for_status()
    coords = r.json().get("computed_geometry", {}).get("coordinates")
    if coords and len(coords) == 2:
        lon, lat = coords      # Mapillary returns [lon, lat]
        return lon, lat
    return None

In [21]:
with engine.connect() as conn:
    ids_to_update = conn.execute(text("""
        SELECT orig_id_x
        FROM paris
        WHERE comp_lat IS NULL
           OR comp_lon IS NULL;
    """)).scalars().all()

print(f"Found {len(ids_to_update)} images that need coordinates.")

Found 1262 images that need coordinates.

In [22]:
values = []
for img_id in tqdm(ids_to_update, desc="Fetching Mapillary metadata"):
    coords = None
    try:
        coords = fetch_metadata(img_id, token)
    except Exception as e:
        print(f"{img_id}: {e}")

    if coords:
        lon, lat = coords
        values.append((img_id, lon, lat))

print(f"Prepared {len(values)} rows for UPDATE.")

Fetching Mapillary metadata:  54%|█████▉     | 679/1262 [04:22<32:44,  3.37s/it]

2889326131386163: HTTPSConnectionPool(host='graph.mapillary.com', port=443): Read timed out. (read timeout=10)

Fetching Mapillary metadata: 100%|██████████| 1262/1262 [07:36<00:00,  2.76it/s]

Prepared 1261 rows for UPDATE.

In [23]:
if values:
    values_clause = ",\n".join(
        f"({img_id}, {lon}, {lat})"
        for img_id, lon, lat in values
    )

    sql = f"""
        UPDATE paris AS b
           SET comp_lon = v.lon,
               comp_lat = v.lat
          FROM (VALUES
                {values_clause}
          ) AS v(orig_id_x, lon, lat)
         WHERE b.orig_id_x = v.orig_id_x;
    """

    with engine.begin() as conn:
        conn.execute(text(sql))

    print("PostGIS table updated.")

else:
    print("Nothing to update – all rows already have comp_lat/comp_lon.")

PostGIS table updated.

In [25]:
%%sql
ALTER TABLE paris ADD COLUMN geom_comp geometry(Point, 4326)

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [26]:
%%sql
UPDATE paris SET geom_comp = ST_SetSRID(ST_MakePoint(comp_lon, comp_lat), 4326)

 * postgresql://moritz:***@localhost:25432/gis
1262 rows affected.

[]

In [27]:
%%sql
ALTER TABLE paris ADD COLUMN geometry_comp_32631 geometry(Geometry, 32631);
UPDATE paris
SET geometry_comp_32631 = ST_Transform(geom_comp, 32631)

 * postgresql://moritz:***@localhost:25432/gis
Done.
1262 rows affected.

[]

# Create table for 'washington'

In [30]:
%%sql
DROP TABLE iF EXISTS washington;
CREATE TABLE washington AS
SELECT *
FROM global_streetscapes
WHERE city_ascii = 'Washington'
AND mly_quality_score >= 0.95
AND ABS(heading - mly_computed_compass_angle) <= 10;

 * postgresql://moritz:***@localhost:25432/gis
Done.
10221 rows affected.

[]

In [31]:
%%sql
ALTER TABLE washington ADD COLUMN geometry_32618 geometry(Geometry, 32618);
UPDATE washington
SET geometry_32618 = ST_Transform(geometry, 32618);

 * postgresql://moritz:***@localhost:25432/gis
Done.
10221 rows affected.

[]

In [32]:
%%sql
CREATE INDEX idx_washington_spgist_geometry_32618 ON washington USING SPGIST (geometry_32618);

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [33]:
%%sql
SELECT * FROM washington LIMIT 1;

 * postgresql://moritz:***@localhost:25432/gis
1 rows affected.

[('aafb7350-85a9-49b5-b718-d6a9fa66afed', 'Mapillary', 328010085640827, 38.90668030961311, -77.03500628471375, 112.35345458984, 0.96878612716763, 112.17144556748, 'drive', 'Mapillary', 328010085640827.0, 4.48, 1.16, 6.98, 6.48, 6.31, 4.95, 'street', 'Winter', 'Washington', 1840006060, 'USA', 'District of Columbia', 'driving surface', 'good', 'front/back', '0101000020E61000000000008B3D4253C094DBB2190E744340', '01010000206A7F00008C6B505568BF1341CAF5845A696F5041')]

In [34]:
%%sql
ALTER TABLE washington
ADD COLUMN comp_lat double precision,
ADD COLUMN comp_lon double precision

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [35]:
os.environ["MAPILLARY_TOKEN"] = "MLY|9589650211070406|360124f70ee4d3f32da7987da0ae45b0"
token = os.environ["MAPILLARY_TOKEN"]

def fetch_metadata(img_id: str, token: str) -> tuple[float, float] | None:
    """
    Return (lon, lat) from Mapillary’s computed_geometry or None if missing.
    """
    url = (
        f"https://graph.mapillary.com/{img_id}"
        f"?access_token={token}"
        "&fields=id,computed_geometry"
    )
    r = requests.get(url, timeout=10)
    r.raise_for_status()
    coords = r.json().get("computed_geometry", {}).get("coordinates")
    if coords and len(coords) == 2:
        lon, lat = coords      # Mapillary returns [lon, lat]
        return lon, lat
    return None

In [36]:
with engine.connect() as conn:
    ids_to_update = conn.execute(text("""
        SELECT orig_id_x
        FROM washington
        WHERE comp_lat IS NULL
           OR comp_lon IS NULL;
    """)).scalars().all()

print(f"Found {len(ids_to_update)} images that need coordinates.")

Found 10221 images that need coordinates.

In [37]:
values = []
for img_id in tqdm(ids_to_update, desc="Fetching Mapillary metadata"):
    coords = None
    try:
        coords = fetch_metadata(img_id, token)
    except Exception as e:
        print(f"{img_id}: {e}")

    if coords:
        lon, lat = coords
        values.append((img_id, lon, lat))

print(f"Prepared {len(values)} rows for UPDATE.")

Fetching Mapillary metadata: 100%|████████| 10221/10221 [42:31<00:00,  4.01it/s]

Prepared 10221 rows for UPDATE.

In [38]:
if values:
    values_clause = ",\n".join(
        f"({img_id}, {lon}, {lat})"
        for img_id, lon, lat in values
    )

    sql = f"""
        UPDATE washington AS b
           SET comp_lon = v.lon,
               comp_lat = v.lat
          FROM (VALUES
                {values_clause}
          ) AS v(orig_id_x, lon, lat)
         WHERE b.orig_id_x = v.orig_id_x;
    """

    with engine.begin() as conn:
        conn.execute(text(sql))

    print("PostGIS table updated.")

else:
    print("Nothing to update – all rows already have comp_lat/comp_lon.")

PostGIS table updated.

In [39]:
%%sql
ALTER TABLE washington ADD COLUMN geom_comp geometry(Point, 4326)

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [40]:
%%sql
UPDATE washington SET geom_comp = ST_SetSRID(ST_MakePoint(comp_lon, comp_lat), 4326)

 * postgresql://moritz:***@localhost:25432/gis
10221 rows affected.

[]

In [41]:
%%sql
ALTER TABLE washington ADD COLUMN geometry_comp_32618 geometry(Geometry, 32618);
UPDATE washington
SET geometry_comp_32618 = ST_Transform(geom_comp, 32618)

 * postgresql://moritz:***@localhost:25432/gis
Done.
10221 rows affected.

[]

# Create table for 'singapore'

In [42]:
%%sql
DROP TABLE iF EXISTS singapore;
CREATE TABLE singapore AS
SELECT *
FROM global_streetscapes
WHERE city_ascii = 'Singapore'
AND mly_quality_score >= 0.95
AND ABS(heading - mly_computed_compass_angle) <= 10;

 * postgresql://moritz:***@localhost:25432/gis
Done.
930 rows affected.

[]

In [43]:
%%sql
ALTER TABLE singapore ADD COLUMN geometry_32648 geometry(Geometry, 32648);
UPDATE singapore
SET geometry_32648 = ST_Transform(geometry, 32648);

 * postgresql://moritz:***@localhost:25432/gis
Done.
930 rows affected.

[]

In [45]:
%%sql
CREATE INDEX idx_singapore_spgist_geometry_32648 ON singapore USING SPGIST (geometry_32648);

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [47]:
%%sql
SELECT * FROM singapore LIMIT 1;

 * postgresql://moritz:***@localhost:25432/gis
1 rows affected.

[('d2ff786c-9c76-4dc9-9c43-36a3fc79d630', 'Mapillary', 900827714108181, 1.3093726419811986, 103.81795227527618, 334.2932, 0.95078612716763, 332.1751490132, 'drive', 'Mapillary', 900827714108181.0, 9.48, 5.15, 3.23, 4.71, 7.07, 7.06, 'forest_road', 'Tropical', 'Singapore', 1702341327, 'SGP', 'Central Singapore', 'driving surface', 'slightly poor', 'front/back', '0101000020E61000000000805459F45940C06139BA30F3F43F', '0101000020887F000006BA43AAB17D1641CA710E2FA2AB0141')]

In [48]:
%%sql
ALTER TABLE singapore
ADD COLUMN comp_lat double precision,
ADD COLUMN comp_lon double precision

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [49]:
os.environ["MAPILLARY_TOKEN"] = "MLY|9589650211070406|360124f70ee4d3f32da7987da0ae45b0"
token = os.environ["MAPILLARY_TOKEN"]

def fetch_metadata(img_id: str, token: str) -> tuple[float, float] | None:
    """
    Return (lon, lat) from Mapillary’s computed_geometry or None if missing.
    """
    url = (
        f"https://graph.mapillary.com/{img_id}"
        f"?access_token={token}"
        "&fields=id,computed_geometry"
    )
    r = requests.get(url, timeout=10)
    r.raise_for_status()
    coords = r.json().get("computed_geometry", {}).get("coordinates")
    if coords and len(coords) == 2:
        lon, lat = coords      # Mapillary returns [lon, lat]
        return lon, lat
    return None

In [50]:
with engine.connect() as conn:
    ids_to_update = conn.execute(text("""
        SELECT orig_id_x
        FROM singapore
        WHERE comp_lat IS NULL
           OR comp_lon IS NULL;
    """)).scalars().all()

print(f"Found {len(ids_to_update)} images that need coordinates.")

Found 930 images that need coordinates.

In [51]:
values = []
for img_id in tqdm(ids_to_update, desc="Fetching Mapillary metadata"):
    coords = None
    try:
        coords = fetch_metadata(img_id, token)
    except Exception as e:
        print(f"{img_id}: {e}")

    if coords:
        lon, lat = coords
        values.append((img_id, lon, lat))

print(f"Prepared {len(values)} rows for UPDATE.")

Fetching Mapillary metadata: 100%|████████████| 930/930 [03:18<00:00,  4.69it/s]

Prepared 930 rows for UPDATE.

In [52]:
if values:
    values_clause = ",\n".join(
        f"({img_id}, {lon}, {lat})"
        for img_id, lon, lat in values
    )

    sql = f"""
        UPDATE singapore AS b
           SET comp_lon = v.lon,
               comp_lat = v.lat
          FROM (VALUES
                {values_clause}
          ) AS v(orig_id_x, lon, lat)
         WHERE b.orig_id_x = v.orig_id_x;
    """

    with engine.begin() as conn:
        conn.execute(text(sql))

    print("PostGIS table updated.")

else:
    print("Nothing to update – all rows already have comp_lat/comp_lon.")

PostGIS table updated.

In [53]:
%%sql
ALTER TABLE singapore ADD COLUMN geom_comp geometry(Point, 4326)

 * postgresql://moritz:***@localhost:25432/gis
Done.

[]

In [54]:
%%sql
UPDATE singapore SET geom_comp = ST_SetSRID(ST_MakePoint(comp_lon, comp_lat), 4326)

 * postgresql://moritz:***@localhost:25432/gis
930 rows affected.

[]

In [55]:
%%sql
ALTER TABLE singapore ADD COLUMN geometry_comp_32648 geometry(Geometry, 32648);
UPDATE singapore
SET geometry_comp_32648 = ST_Transform(geom_comp, 32648)

 * postgresql://moritz:***@localhost:25432/gis
Done.
930 rows affected.

[]